* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover , a:active {
    color: #FF6565;
}

button:hover ,button:active {
    opacity: 0.8;
}


.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    
}


.hero img {
    width: 100px;
    height: 20px;
    position: absolute;

}

.menu-icon {
    color: white;
    font-size: 2em;
    line-height: 50px;
    margin-left: -40px;
    margin-top: 3px;
    

}

nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    display: inline-block;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

#checkbox {
    display: none;

}

#checkbox:checked ~ nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
}

@media (min-width: 480px) {
    i.menu-icon {
        display:none;
    }
    nav {
        position: relative;
        top: -15px;
        background-color: transparent;
    }

    nav ul {
        max-height: 70px;
        padding: 12px 0;
        text-align: right;
    }
    nav ul li {
        display: inline-flex;
        padding-left: 5px;

    }
}


.hero {
    height: 700px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.banner-label {
    margin-top: 250px;
    text-align: center;
    line-height: 1.5;  
}

.hero h2 {
    font-size: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero h3 {
    font-size: 9px;
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.hero button {
    margin-top:20px ;
    margin-bottom: 10px;
    background-color: #FF6565;
    color: white;
    border: none;
    height: 30px;
    width: 130px;
    border-radius: 30px;
    
}

.hero p {
    width:300px;
    color: white;
    margin: auto;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}



/* section 2*/

.what-we-do {
    
    padding-top: 30px;
    margin: auto;
    padding-bottom: 20px;
      
}

.do-header {
    width: 50%;
    height:80px;
    margin: auto;
    line-height: 1.5;
}

.do-header h2 {
    text-align: center;
    padding-bottom: 20px;
}

.do-header p {
    font-size: x-small;
    font-weight: bold;
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    
}

.music-icons {
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
     
}

.music-icons div {
    display: inline-block;
    padding: 20px 30px;

   
}

.music-icons h4 {
    font-size: medium;
    font-weight: bold;

}

.music-icons p {
    font-size: xx-small;
    line-height: 1.5;
    width: 150px;
    margin: auto; 
    padding-top: 10px;
}

.music-icons img {
    width: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
   
}

.sound-frequency img {
    width: 80px;
    margin-left: 20px;
  
}

@media (min-width: 600px) {
    .do-header p {
        font-size: x-small;
        font-weight: bold;
        margin-top: -20px;
        padding: 10px 10px;
        text-align: center;
        
    }
}

/*section 3 */

.our-results {
    background-image: url('background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 30px 30px;
}

.result-header {
    color: white;
    margin: 20px 0px;
    padding: 30px 0;
}

.result-header h2 {
    padding-bottom: 20px;
    font-size: large;
    font-weight: bold;
}

.result-header p {
    font-size: x-small;
    font-weight: bold;
    margin: auto;
    width: 50%;
    padding: auto;
}

.result-chart {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;

}

.result-chart div {
    display: inline-block;
    padding: 20px 40px;
    
}

.result-chart img {
    width: 100px;
}

.result-chart h2 {
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 28px;
    margin-top: 25px;
}

.result-chart p {
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 7.5px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: -85px;
    
}

/* section 4 */

.contact {
    
    width: 100%;
    height: 250px;
    margin-top: 50px;
}

.contact-container {
    
    text-align: center;
    width: 80%;
    height: 250px;
    margin: auto;
    line-height: 1.5;
    
}
.contact-container h2 {
    margin: 20px;

}
.contact-container form {
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
}

.contact-container input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 3px;
    background-color: aliceblue;
    color: black;
}

.contact button {
    margin-top:20px ;
    margin-bottom: 10px;
    background-color: #FF6565;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 30px;
}
